.cabecera{
  background-color: rgb(202, 200, 200);
  padding: 10px;
  font-weight: bold;
}

.iniciado{
  background-color: rgb(69, 127, 69);
}

.iniciado{
  background-color: rgb(69, 127, 69);
  color: white;
}
